<p id="notice"><%= notice %></p>

<p>
  <h2>
  	<%= @user.username %>'s Tattle-Tale Central
  </h2>
  <ul>
  	<li>Message 1</li>
  	<li>Message 2</li>
	</ul>
</p>

<%= link_to 'View All Users', user_path %>
